/* My style */
$color: #3D3D3D;
$background-color: #6D6D6D;
body {
    color: $color;
    background-color: $background-color;
}

p {
    color: $color;
}

h2 {
    background-color: $background-color;
}